# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Build
dist/
build/
.next/
.nuxt/

# Logs
*.log
npm-debug.log*

# Temporary
tmp/
temp/

# Playwright
test-results/
playwright-report/
.astro/data-store.json
